In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
hos=pd.read_csv("KOR_hospital.csv")
hos

,요양기관명,종별코드,종별코드명,시도코드명,주소,x좌표,y좌표
0,가톨릭대학교인천성모병원,1,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831
1,강릉아산병원,1,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433
2,강북삼성병원,1,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408
3,건국대학교병원,1,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376
4,경북대학교병원,1,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774
...,...,...,...,...,...,...,...
74359,힘내라한의원,93,한의원,서울,서울특별시 강서구 화곡로 429 토피아 401호 (가양동),126.855061,37.561526
74360,힘찬걸음한의원,93,한의원,경기,경기도 고양시 덕양구 화신로260번길 64 삼진빌딩 4층 401호 (화정동),126.833383,37.633475
74361,힘찬마디한의원,93,한의원,서울,서울특별시 강동구 천호대로 1027 3층 (천호동),127.126386,37.538123
74362,힘찬세상경희한의원,93,한의원,서울,"서울특별시 용산구 한강대로 109 (한강로2가, 용성비즈텔)",126.968167,37.530005
74363,읻다의원,31,의원,서울,서울특별시 강남구 도산대로 509 에스디바이오센서 3층 (청담동),NaN,NaN

In [3]:
new=hos[["요양기관명","종별코드명","시도코드명","주소","x좌표","y좌표"]] #종별코드 칼럼 빼고 추출

In [4]:
cond=(new['종별코드명']=="상급종합")|(new['종별코드명']=="종합병원")|(new['종별코드명']=="병원")
cond

#상급종합병원, 종합병원, 병원 -> True

0         True
1         True
2         True
3         True
4         True
         ...
74359    False
74360    False
74361    False
74362    False
74363    False
Name: 종별코드명, Length: 74364, dtype: bool

In [5]:
new_df=new[cond] #상급종합병원, 종합병원, 병원 추출
new_df

,요양기관명,종별코드명,시도코드명,주소,x좌표,y좌표
0,가톨릭대학교인천성모병원,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831
1,강릉아산병원,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433
2,강북삼성병원,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408
3,건국대학교병원,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376
4,경북대학교병원,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774
...,...,...,...,...,...,...
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN
1773,히즈메디병원,병원,경기,경기도 김포시 김포대로 681 (풍무동),126.734723,37.611218
1774,힘내라병원,병원,부산,"부산광역시 동구 범일로 85 (범일동, 삼미85 빌딩)",129.058915,35.137769
1775,힘센병원,병원,대구,대구광역시 남구 봉덕로 71 (봉덕동),128.598916,35.845139
1776,힘플러스병원,병원,전남,전라남도 순천시 신월큰길 13 (조례동),127.519845,34.960448

In [6]:
exist_Null=new_df[new_df['x좌표'].isnull()] #x좌표에 결측값이 존재하는 행만 추출
exist_Null

,요양기관명,종별코드명,시도코드명,주소,x좌표,y좌표
88,광주한국병원,종합병원,광주,광주광역시 서구 월드컵4강로 223 (쌍촌동),NaN,NaN
119,대전한국병원,종합병원,대전,대전광역시 동구 동서대로 1672 (성남동),NaN,NaN
153,새통영병원,종합병원,경남,경상남도 통영시 무전7길 192 (무전동),NaN,NaN
171,세종충남대학교병원,종합병원,세종시,세종특별자치시 보듬7로 20 세종충남대학교병원 (도담동),NaN,NaN
243,의료법인 행도의료재단 해동병원,종합병원,부산,부산광역시 영도구 태종로 133 (봉래동3가),NaN,NaN
...,...,...,...,...,...,...
1757,화원연세병원,병원,대구,대구광역시 달성군 화원읍 비슬로 2525 (),NaN,NaN
1759,화정아동병원,병원,광주,광주광역시 서구 화운로 129 2~5층 (화정동),NaN,NaN
1760,화창한병원,병원,부산,부산광역시 금정구 중앙대로1685번길 12 지하2~6층 (부곡동),NaN,NaN
1765,휴병원,병원,부산,"부산광역시 부산진구 가야대로 713 2~8, 10, 11~15층 (당감동)",NaN,NaN
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN

In [7]:
exist_Null

,요양기관명,종별코드명,시도코드명,주소,x좌표,y좌표
88,광주한국병원,종합병원,광주,광주광역시 서구 월드컵4강로 223 (쌍촌동),NaN,NaN
119,대전한국병원,종합병원,대전,대전광역시 동구 동서대로 1672 (성남동),NaN,NaN
153,새통영병원,종합병원,경남,경상남도 통영시 무전7길 192 (무전동),NaN,NaN
171,세종충남대학교병원,종합병원,세종시,세종특별자치시 보듬7로 20 세종충남대학교병원 (도담동),NaN,NaN
243,의료법인 행도의료재단 해동병원,종합병원,부산,부산광역시 영도구 태종로 133 (봉래동3가),NaN,NaN
...,...,...,...,...,...,...
1757,화원연세병원,병원,대구,대구광역시 달성군 화원읍 비슬로 2525 (),NaN,NaN
1759,화정아동병원,병원,광주,광주광역시 서구 화운로 129 2~5층 (화정동),NaN,NaN
1760,화창한병원,병원,부산,부산광역시 금정구 중앙대로1685번길 12 지하2~6층 (부곡동),NaN,NaN
1765,휴병원,병원,부산,"부산광역시 부산진구 가야대로 713 2~8, 10, 11~15층 (당감동)",NaN,NaN
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN

In [8]:
ro=exist_Null[exist_Null['주소'].str.contains(".+로 \d+[-]*\d*[,]* ")]  # 주소가 '~로' 인 데이터 추출 -> 데이터프레임 ro
gil=exist_Null[exist_Null['주소'].str.contains(".+길 \d+[-]*\d*[,]* ")] # 주소가 '~길' 인 데이터 추출 -> 데이터프레임 gil

In [9]:
ro_dict={"index":[], "새주소":[]} #변경된 주소를 담을 딕셔너리

for i in ro.index:
    ro_dict["새주소"].append(re.match(".+로 \d+[-]*\d*",ro["주소"][i])[0])
    ro_dict["index"].append(i)
    
new_ro=pd.DataFrame(ro_dict) #변경된 주소 딕셔너리 -> 데이터프레임 new_ro
new_ro

    index                     새주소
0      88     광주광역시 서구 월드컵4강로 223
1     119      대전광역시 동구 동서대로 1672
2     171         세종특별자치시 보듬7로 20
3     243       부산광역시 영도구 태종로 133
4     300      인천광역시 남동구 논현로 72-0
..    ...                     ...
74   1738    충청북도 진천군 덕산읍 자안로 9-0
75   1755     전라남도 화순군 화순읍 만연로 31
76   1757  대구광역시 달성군 화원읍 비슬로 2525
77   1759        광주광역시 서구 화운로 129
78   1765     부산광역시 부산진구 가야대로 713

[79 rows x 2 columns]

In [10]:
gil_dict={"index":[], "새주소":[]} #변경된 주소를 담을 딕셔너리

for i in gil.index:
    gil_dict["새주소"].append(re.match(".+길 \d+[-]*\d*",gil["주소"][i])[0])
    gil_dict["index"].append(i)
    
new_gil=pd.DataFrame(gil_dict) #변경된 주소 딕셔너리 -> 데이터프레임 new_gil
new_gil

    index                             새주소
0     153               경상남도 통영시 무전7길 192
1     308                전라남도 순천시 서문성터길 2
2     443             경기도 부천시 경인로536번길 27
3     464             서울특별시 강동구 풍성로37길 45
4     796               강원도 원주시 능라동길 51-0
5     848        대전광역시 유성구 문화원로146번길 7-24
6     872               경기도 화성시 꽃내음1길 5-4
7     877               서울특별시 송파구 정의로8길 4
8     892           인천광역시 계양구 경명대로972번길 9
9    1098           경기도 남양주시 다산중앙로145번길 9
10   1155             전라남도 영암군 영암읍 오리정길 8
11   1188  경기도 용인시 처인구 포곡읍 포곡로210번길 21-11
12   1225     충청북도 청주시 상당구 2순환로2031번길 6-0
13   1243       경기도 수원시 영통구 덕영대로1483번길 12
14   1276         경기도 용인시 기흥구 흥덕1로79번길 24
15   1282              서울특별시 구로구 공원로6가길 4
16   1329          전라북도 전주시 완산구 전주객사1길 22
17   1578          광주광역시 광산구 목련로219번길 140
18   1627             전라북도 군산시 궁포안2길 24-0
19   1760         부산광역시 금정구 중앙대로1685번길 12
20   1772       경상남도 창원시 성산구 원이대로393번길 25

In [11]:
#같은 칼럼을 기준으로 merge 하기 위해 인덱스를 초기화해서 기존 인덱스를 index 칼럼으로 가짐
ro=ro.reset_index()
gil=gil.reset_index()

In [12]:
fin_ro=ro.merge(new_ro) # 주소가 '~로'인 데이터프레임(변경전, 변경후) merge
fin_gil=gil.merge(new_gil) # 주소가 '~길'인 데이터프레임(변경전, 변경후) merge

In [13]:
gilro=pd.concat([fin_ro,fin_gil]) # 로, 길 데이터프레임 합치기
gilro

,index,요양기관명,종별코드명,시도코드명,주소,x좌표,y좌표,새주소
0,88,광주한국병원,종합병원,광주,광주광역시 서구 월드컵4강로 223 (쌍촌동),NaN,NaN,광주광역시 서구 월드컵4강로 223
1,119,대전한국병원,종합병원,대전,대전광역시 동구 동서대로 1672 (성남동),NaN,NaN,대전광역시 동구 동서대로 1672
2,171,세종충남대학교병원,종합병원,세종시,세종특별자치시 보듬7로 20 세종충남대학교병원 (도담동),NaN,NaN,세종특별자치시 보듬7로 20
3,243,의료법인 행도의료재단 해동병원,종합병원,부산,부산광역시 영도구 태종로 133 (봉래동3가),NaN,NaN,부산광역시 영도구 태종로 133
4,300,인천힘찬종합병원,종합병원,인천,인천광역시 남동구 논현로 72-0 인천힘찬종합병원,NaN,NaN,인천광역시 남동구 논현로 72-0
...,...,...,...,...,...,...,...,...
16,1329,의료법인 지리산의료재단 어의당병원,병원,전북,전라북도 전주시 완산구 전주객사1길 22 (다가동3가),NaN,NaN,전라북도 전주시 완산구 전주객사1길 22
17,1578,채움휴병원,병원,광주,광주광역시 광산구 목련로219번길 140 (운남동),NaN,NaN,광주광역시 광산구 목련로219번길 140
18,1627,키움병원,병원,전북,전라북도 군산시 궁포안2길 24-0 2층 (조촌동),NaN,NaN,전라북도 군산시 궁포안2길 24-0
19,1760,화창한병원,병원,부산,부산광역시 금정구 중앙대로1685번길 12 지하2~6층 (부곡동),NaN,NaN,부산광역시 금정구 중앙대로1685번길 12
20,1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN,경상남도 창원시 성산구 원이대로393번길 25

In [14]:
addr_add=gilro[["index","요양기관명","종별코드명","시도코드명","새주소"]] #필요한 칼럼만 추출
addr_add

    index               요양기관명 종별코드명 시도코드명                        새주소
0      88              광주한국병원  종합병원    광주        광주광역시 서구 월드컵4강로 223
1     119              대전한국병원  종합병원    대전         대전광역시 동구 동서대로 1672
2     171           세종충남대학교병원  종합병원   세종시            세종특별자치시 보듬7로 20
3     243    의료법인 행도의료재단 해동병원  종합병원    부산          부산광역시 영도구 태종로 133
4     300            인천힘찬종합병원  종합병원    인천         인천광역시 남동구 논현로 72-0
..    ...                 ...   ...   ...                        ...
16   1329  의료법인 지리산의료재단 어의당병원    병원    전북     전라북도 전주시 완산구 전주객사1길 22
17   1578               채움휴병원    병원    광주     광주광역시 광산구 목련로219번길 140
18   1627                키움병원    병원    전북        전라북도 군산시 궁포안2길 24-0
19   1760               화창한병원    병원    부산    부산광역시 금정구 중앙대로1685번길 12
20   1772                희연병원    병원    경남  경상남도 창원시 성산구 원이대로393번길 25

[100 rows x 5 columns]

In [15]:
addr_add.rename(columns={'새주소': '주소'}, inplace=True) #새주소 칼럼명을 주소로 변경
addr_add #변경된 주소의 데이터프레임 완성

    index               요양기관명 종별코드명 시도코드명                         주소
0      88              광주한국병원  종합병원    광주        광주광역시 서구 월드컵4강로 223
1     119              대전한국병원  종합병원    대전         대전광역시 동구 동서대로 1672
2     171           세종충남대학교병원  종합병원   세종시            세종특별자치시 보듬7로 20
3     243    의료법인 행도의료재단 해동병원  종합병원    부산          부산광역시 영도구 태종로 133
4     300            인천힘찬종합병원  종합병원    인천         인천광역시 남동구 논현로 72-0
..    ...                 ...   ...   ...                        ...
16   1329  의료법인 지리산의료재단 어의당병원    병원    전북     전라북도 전주시 완산구 전주객사1길 22
17   1578               채움휴병원    병원    광주     광주광역시 광산구 목련로219번길 140
18   1627                키움병원    병원    전북        전라북도 군산시 궁포안2길 24-0
19   1760               화창한병원    병원    부산    부산광역시 금정구 중앙대로1685번길 12
20   1772                희연병원    병원    경남  경상남도 창원시 성산구 원이대로393번길 25

[100 rows x 5 columns]

In [16]:
addr_add.to_excel("addr_add.xlsx") #파일로 저장

In [17]:
#------------변경된 주소 데이터프레임을 기존 병원 데이터프레임과 합치기-------------

In [18]:
addr_add=pd.read_excel("addr_add (1).xlsx")  
                # addr_add (1).xlsx : 구글 스프레드시트의 'geocode by awesome table' 기능을 사용해서 위경도 값 추가한 파일

In [19]:
addr_add=addr_add[["요양기관명","종별코드명","시도코드명","주소","y좌표","x좌표"]]
addr_add

,요양기관명,종별코드명,시도코드명,주소,y좌표,x좌표
0,광주한국병원,종합병원,광주,광주광역시 서구 월드컵4강로 223,35.155962,126.868573
1,대전한국병원,종합병원,대전,대전광역시 동구 동서대로 1672,36.348152,127.435829
2,세종충남대학교병원,종합병원,세종시,세종특별자치시 보듬7로 20,36.519107,127.257588
3,의료법인 행도의료재단 해동병원,종합병원,부산,부산광역시 영도구 태종로 133,35.091937,129.043884
4,인천힘찬종합병원,종합병원,인천,인천광역시 남동구 논현로 72-0,37.403902,126.718456
...,...,...,...,...,...,...
95,의료법인 지리산의료재단 어의당병원,병원,전북,전라북도 전주시 완산구 전주객사1길 22,35.817759,127.140207
96,채움휴병원,병원,광주,광주광역시 광산구 목련로219번길 140,35.177352,126.824048
97,키움병원,병원,전북,전라북도 군산시 궁포안2길 24-0,35.967677,126.736629
98,화창한병원,병원,부산,부산광역시 금정구 중앙대로1685번길 12,35.235063,129.091008
99,희연병원,병원,경남,경상남도 창원시 성산구 원이대로393번길 25,35.239500,128.662873

In [20]:
final=pd.merge(new_df,addr_add,on=["요양기관명","종별코드명","시도코드명"], how="left")
#기존 데이터프레임(new_df)과 변경된주소 데이터프레임(addr_add) merge
final

,요양기관명,종별코드명,시도코드명,주소_x,x좌표_x,y좌표_x,주소_y,y좌표_y,x좌표_y
0,가톨릭대학교인천성모병원,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831,NaN,NaN,NaN
1,강릉아산병원,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433,NaN,NaN,NaN
2,강북삼성병원,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408,NaN,NaN,NaN
3,건국대학교병원,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376,NaN,NaN,NaN
4,경북대학교병원,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN,경상남도 창원시 성산구 원이대로393번길 25,35.2395,128.662873
1773,히즈메디병원,병원,경기,경기도 김포시 김포대로 681 (풍무동),126.734723,37.611218,NaN,NaN,NaN
1774,힘내라병원,병원,부산,"부산광역시 동구 범일로 85 (범일동, 삼미85 빌딩)",129.058915,35.137769,NaN,NaN,NaN
1775,힘센병원,병원,대구,대구광역시 남구 봉덕로 71 (봉덕동),128.598916,35.845139,NaN,NaN,NaN
1776,힘플러스병원,병원,전남,전라남도 순천시 신월큰길 13 (조례동),127.519845,34.960448,NaN,NaN,NaN

In [21]:
#x좌표_x 가 null이 아니면 원래 있던 값 그대로 가져오고
#           null이면 x좌표_y에 있는 값을 가져와서 'x' 칼럼에 넣음
np.where(pd.notnull(final['x좌표_x']) == True, final['x좌표_x'], final['x좌표_y'])

array([126.7248987, 128.8578411, 126.96775  , ..., 129.0589148,
       128.5989164, 127.5198452])

In [22]:
#x좌표_x 가 null이 아니면 원래 있던 값 그대로 가져오고
#           null이면 x좌표_y에 있는 값을 가져와서 'x' 칼럼에 넣음

final["x"]=np.where(pd.notnull(final['x좌표_x']) == True, final['x좌표_x'], final['x좌표_y'])

In [23]:
#y좌표_x 가 null이 아니면 원래 있던 값 그대로 가져오고
#           null이면 y좌표_y에 있는 값을 가져와서 'y' 칼럼에 넣음
final["y"]=np.where(pd.notnull(final['y좌표_x']) == True, final['y좌표_x'], final['y좌표_y'])

In [24]:
final.info()
#x, y 칼럼 -> 각각 1777개
final

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1777 entries, 0 to 1776
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요양기관명   1777 non-null   object
 1   종별코드명   1777 non-null   object
 2   시도코드명   1777 non-null   object
 3   주소_x    1777 non-null   object
 4   x좌표_x   1677 non-null   float64
 5   y좌표_x   1677 non-null   float64
 6   주소_y    103 non-null    object
 7   y좌표_y   103 non-null    float64
 8   x좌표_y   103 non-null    float64
 9   x       1777 non-null   float64
 10  y       1777 non-null   float64
dtypes: float64(6), object(5)
memory usage: 166.6+ KB

,요양기관명,종별코드명,시도코드명,주소_x,x좌표_x,y좌표_x,주소_y,y좌표_y,x좌표_y,x,y
0,가톨릭대학교인천성모병원,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831,NaN,NaN,NaN,126.724899,37.484831
1,강릉아산병원,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433,NaN,NaN,NaN,128.857841,37.818433
2,강북삼성병원,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408,NaN,NaN,NaN,126.967750,37.568408
3,건국대학교병원,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376,NaN,NaN,NaN,127.071828,37.540376
4,경북대학교병원,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774,NaN,NaN,NaN,128.604125,35.866774
...,...,...,...,...,...,...,...,...,...,...,...
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN,경상남도 창원시 성산구 원이대로393번길 25,35.2395,128.662873,128.662873,35.239500
1773,히즈메디병원,병원,경기,경기도 김포시 김포대로 681 (풍무동),126.734723,37.611218,NaN,NaN,NaN,126.734723,37.611218
1774,힘내라병원,병원,부산,"부산광역시 동구 범일로 85 (범일동, 삼미85 빌딩)",129.058915,35.137769,NaN,NaN,NaN,129.058915,35.137769
1775,힘센병원,병원,대구,대구광역시 남구 봉덕로 71 (봉덕동),128.598916,35.845139,NaN,NaN,NaN,128.598916,35.845139
1776,힘플러스병원,병원,전남,전라남도 순천시 신월큰길 13 (조례동),127.519845,34.960448,NaN,NaN,NaN,127.519845,34.960448

In [25]:
ff=final[["요양기관명","종별코드명","시도코드명","주소_x","x","y"]] #필요한 칼럼만 추출
ff=ff.rename(columns={'주소_x': '주소'}) #'주소_x'칼럼의 이름을 '주소'로 변경
ff.info()
ff

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1777 entries, 0 to 1776
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요양기관명   1777 non-null   object
 1   종별코드명   1777 non-null   object
 2   시도코드명   1777 non-null   object
 3   주소      1777 non-null   object
 4   x       1777 non-null   float64
 5   y       1777 non-null   float64
dtypes: float64(2), object(4)
memory usage: 97.2+ KB

,요양기관명,종별코드명,시도코드명,주소,x,y
0,가톨릭대학교인천성모병원,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831
1,강릉아산병원,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433
2,강북삼성병원,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408
3,건국대학교병원,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376
4,경북대학교병원,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774
...,...,...,...,...,...,...
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",128.662873,35.239500
1773,히즈메디병원,병원,경기,경기도 김포시 김포대로 681 (풍무동),126.734723,37.611218
1774,힘내라병원,병원,부산,"부산광역시 동구 범일로 85 (범일동, 삼미85 빌딩)",129.058915,35.137769
1775,힘센병원,병원,대구,대구광역시 남구 봉덕로 71 (봉덕동),128.598916,35.845139
1776,힘플러스병원,병원,전남,전라남도 순천시 신월큰길 13 (조례동),127.519845,34.960448

In [26]:
ff.to_excel("hos_addr.xlsx")