In [5]:
import numpy as np
import pandas as pd
import os

In [3]:
df1=pd.read_csv('./data/all_hospital.csv', encoding='cp949');df1

,요양기관명,종별코드명,시도코드명,주소,x좌표,y좌표
0,가톨릭대학교인천성모병원,상급종합,인천,인천광역시 부평구 동수로 56 (부평동),126.724899,37.484831
1,강릉아산병원,상급종합,강원,강원도 강릉시 사천면 방동길 38 (),128.857841,37.818433
2,강북삼성병원,상급종합,서울,서울특별시 종로구 새문안로 29 (평동),126.967750,37.568408
3,건국대학교병원,상급종합,서울,서울특별시 광진구 능동로 120-1 (화양동),127.071828,37.540376
4,경북대학교병원,상급종합,대구,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",128.604125,35.866774
...,...,...,...,...,...,...
1772,희연병원,병원,경남,"경상남도 창원시 성산구 원이대로393번길 25 케이프타운 4-5층 일부, 6층 지하...",NaN,NaN
1773,히즈메디병원,병원,경기,경기도 김포시 김포대로 681 (풍무동),126.734723,37.611218
1774,힘내라병원,병원,부산,"부산광역시 동구 범일로 85 (범일동, 삼미85 빌딩)",129.058915,35.137769
1775,힘센병원,병원,대구,대구광역시 남구 봉덕로 71 (봉덕동),128.598916,35.845139
1776,힘플러스병원,병원,전남,전라남도 순천시 신월큰길 13 (조례동),127.519845,34.960448

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1777 entries, 0 to 1776
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요양기관명   1777 non-null   object
 1   종별코드명   1777 non-null   object
 2   시도코드명   1777 non-null   object
 3   주소      1777 non-null   object
 4   x좌표     1677 non-null   float64
 5   y좌표     1677 non-null   float64
dtypes: float64(2), object(4)
memory usage: 83.4+ KB