In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('민간구급차.csv', encoding='cp949', names=['지점명', '구급차종류', '구급차번호', '전화번호', '지역명(1)', '시도구']) ;df
df

                지점명  구급차종류    구급차번호          전화번호 지역명(1)  시도구
0     사회복지법인대한구조봉사회  특수구급차  78구1500  02-3431-9111     서울  강남구
1     사회복지법인대한구조봉사회  일반구급차  76고5391  02-3431-9111     서울  강남구
2     사회복지법인대한구조봉사회  특수구급차  72보1405  02-3431-9111     서울  강남구
3     사회복지법인대한구조봉사회  일반구급차  76너3457  02-3431-9111     서울  강남구
4     사회복지법인대한구조봉사회  특수구급차  77두7278  02-3431-9111     서울  강남구
...             ...    ...      ...           ...    ...  ...
1064    (주)프로텍션메드제주  특수구급차  70오6198  064-755-1339     제주  제주시
1065    (주)프로텍션메드제주  특수구급차  71도9990  064-755-1339     제주  제주시
1066    (주)프로텍션메드제주  특수구급차  71두7474  064-755-1339     제주  제주시
1067    (주)프로텍션메드제주  특수구급차  74라3775  064-755-1339     제주  제주시
1068    (주)프로텍션메드제주  특수구급차  76루9171  064-755-1339     제주  제주시

[1069 rows x 6 columns]

In [3]:
df=df[["지점명", "구급차종류", "지역명(1)", "시도구"]] #구급차번호, 전화번호 빼고 추출
df.rename(columns ={"지역명(1)":"지역명"}, inplace=True) #지역명(1)칼럼명 변경
df

C:\Users\j5081\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                지점명  구급차종류 지역명  시도구
0     사회복지법인대한구조봉사회  특수구급차  서울  강남구
1     사회복지법인대한구조봉사회  일반구급차  서울  강남구
2     사회복지법인대한구조봉사회  특수구급차  서울  강남구
3     사회복지법인대한구조봉사회  일반구급차  서울  강남구
4     사회복지법인대한구조봉사회  특수구급차  서울  강남구
...             ...    ...  ..  ...
1064    (주)프로텍션메드제주  특수구급차  제주  제주시
1065    (주)프로텍션메드제주  특수구급차  제주  제주시
1066    (주)프로텍션메드제주  특수구급차  제주  제주시
1067    (주)프로텍션메드제주  특수구급차  제주  제주시
1068    (주)프로텍션메드제주  특수구급차  제주  제주시

[1069 rows x 4 columns]

In [4]:
s=df.groupby(["지점명","구급차종류","시도구"],as_index=False).count() #지점별 특수구급차, 일반구급차 수 count
s=s[["지점명", "구급차종류","지역명","시도구"]]
s.rename(columns={"지역명":"구급차수"}, inplace=True)

In [5]:
s

                지점명  구급차종류  구급차수      시도구
0        (유)129이송센터  특수구급차     5      순천시
1      (유)남도응급환자이송단  특수구급차     5      강진군
2    (유)베스트응급환자이송센터  특수구급차     5      정읍시
3     (유)전북응급이송이엠에스  특수구급차     9      익산시
4    (유)충남129환자이송센터  일반구급차     1      세종시
..              ...    ...   ...      ...
186     팀코리아이엠에스(주)  특수구급차     5       동구
187   프로응급환자이송센터(주)  일반구급차     1     남양주시
188   프로응급환자이송센터(주)  특수구급차     6     남양주시
189          하나구급센터  특수구급차     5  전주시 덕진구
190       한국911구급센터  특수구급차     7      목포시

[191 rows x 4 columns]

In [6]:
p=df.groupby(["지점명","지역명","시도구"],as_index=False).count() #지점별 지역명, 시도구 추출
p=p[["지점명","지역명","시도구"]]
p

                 지점명 지역명      시도구
0         (유)129이송센터  전남      순천시
1       (유)남도응급환자이송단  전남      강진군
2     (유)베스트응급환자이송센터  전북      정읍시
3      (유)전북응급이송이엠에스  전북      익산시
4     (유)충남129환자이송센터  세종      세종시
..               ...  ..      ...
122  쿱3119응급환자이송협동조합  서울     동대문구
123      팀코리아이엠에스(주)  광주       동구
124    프로응급환자이송센터(주)  경기     남양주시
125           하나구급센터  전북  전주시 덕진구
126        한국911구급센터  전남      목포시

[127 rows x 3 columns]

In [7]:
result=pd.merge(s, p, how="left")
result

                지점명  구급차종류  구급차수      시도구 지역명
0        (유)129이송센터  특수구급차     5      순천시  전남
1      (유)남도응급환자이송단  특수구급차     5      강진군  전남
2    (유)베스트응급환자이송센터  특수구급차     5      정읍시  전북
3     (유)전북응급이송이엠에스  특수구급차     9      익산시  전북
4    (유)충남129환자이송센터  일반구급차     1      세종시  세종
..              ...    ...   ...      ...  ..
186     팀코리아이엠에스(주)  특수구급차     5       동구  광주
187   프로응급환자이송센터(주)  일반구급차     1     남양주시  경기
188   프로응급환자이송센터(주)  특수구급차     6     남양주시  경기
189          하나구급센터  특수구급차     5  전주시 덕진구  전북
190       한국911구급센터  특수구급차     7      목포시  전남

[191 rows x 5 columns]

In [8]:
result.to_excel("민간구급차현황_완료.xlsx")